<a href="https://colab.research.google.com/github/dphi-official/Datathons/blob/master/Top_Notebook_Submissions/Data_Sprint/Data_Sprint_5/Rank_3_Sudipto_Patowary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sudipta Patowary
https://www.linkedin.com/in/sudipta-patowary-723aa28b/

Data Sprint Link:
https://dphi.tech/practice/challenge/32

In [ ]:
import pandas as pd
from pprint import pprint
import numpy as np

In [ ]:
startup_data  = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/startupdata/training_set_label.csv" )
startup_data.head()

,Unnamed: 0,state_code,latitude,longitude,zip_code,id,city,Unnamed: 6,name,founded_at,...,object_id,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,status
0,1005,CA,42.358880,-71.056820,92101,c:6669,San Diego,NaN,Bandsintown,01-01-07,...,c:6669,0,1,0,0,0,0,1.0000,0,acquired
1,204,CA,37.238916,-121.973718,95032,c:16283,Los Gatos,NaN,TriCipher,01-01-00,...,c:16283,1,0,0,1,1,1,4.7500,1,acquired
2,1001,CA,32.901049,-117.192656,92121,c:65620,San Diego,San Diego CA 92121,Plixi,3/18/2009,...,c:65620,0,0,1,0,0,0,4.0000,1,acquired
3,738,CA,37.320309,-122.050040,95014,c:42668,Cupertino,Cupertino CA 95014,Solidcore Systems,01-01-02,...,c:42668,0,0,0,1,1,1,3.3333,1,acquired
4,1002,CA,37.779281,-122.419236,94105,c:65806,San Francisco,San Francisco CA 94105,Inhale Digital,08-01-10,...,c:65806,1,1,0,0,0,0,1.0000,1,closed

In [ ]:
# duplicate entry for startup with id c:28482, dropping one
startup_data=startup_data.drop([832])
len(startup_data.id.value_counts())
# we can now drop the id column since it has a unique value for each data measure

922

In [ ]:
len(startup_data.name.value_counts())
# we can now drop the name column since it has a unique value for each data measure

922

In [ ]:
# we can drop Unnamed 0 and 6 columns
startup_data.drop(["id","name","Unnamed: 0", "Unnamed: 6", "zip_code", "object_id"], axis=1, inplace=True)
startup_data.head()

,state_code,latitude,longitude,city,founded_at,closed_at,first_funding_at,last_funding_at,age_first_funding_year,age_last_funding_year,...,is_othercategory,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,status
0,CA,42.358880,-71.056820,San Diego,01-01-07,NaN,04-01-09,01-01-10,2.2493,3.0027,...,1,0,1,0,0,0,0,1.0000,0,acquired
1,CA,37.238916,-121.973718,Los Gatos,01-01-00,NaN,2/14/2005,12/28/2009,5.1260,9.9973,...,0,1,0,0,1,1,1,4.7500,1,acquired
2,CA,32.901049,-117.192656,San Diego,3/18/2009,NaN,3/30/2010,3/30/2010,1.0329,1.0329,...,0,0,0,1,0,0,0,4.0000,1,acquired
3,CA,37.320309,-122.050040,Cupertino,01-01-02,NaN,2/17/2005,4/25/2007,3.1315,5.3151,...,0,0,0,0,1,1,1,3.3333,1,acquired
4,CA,37.779281,-122.419236,San Francisco,08-01-10,10-01-12,08-01-10,04-01-12,0.0000,1.6685,...,0,1,1,0,0,0,0,1.0000,1,closed

In [ ]:
startup_data.columns

Index(['state_code', 'latitude', 'longitude', 'city', 'founded_at',
       'closed_at', 'first_funding_at', 'last_funding_at',
       'age_first_funding_year', 'age_last_funding_year',
       'age_first_milestone_year', 'age_last_milestone_year', 'relationships',
       'funding_rounds', 'funding_total_usd', 'milestones', 'state_code.1',
       'is_CA', 'is_NY', 'is_MA', 'is_TX', 'is_otherstate', 'category_code',
       'is_software', 'is_web', 'is_mobile', 'is_enterprise', 'is_advertising',
       'is_gamesvideo', 'is_ecommerce', 'is_biotech', 'is_consulting',
       'is_othercategory', 'has_VC', 'has_angel', 'has_roundA', 'has_roundB',
       'has_roundC', 'has_roundD', 'avg_participants', 'is_top500', 'status'],
      dtype='object')

In [ ]:
startup_data["is_WA"]=(startup_data.state_code=="WA").map({True:1, False:0})
startup_data["is_CO"]=(startup_data.state_code=="CO").map({True:1, False:0})
startup_data["is_IL"]=(startup_data.state_code=="IL").map({True:1, False:0})
startup_data["is_PA"]=(startup_data.state_code=="PA").map({True:1, False:0})
startup_data["is_VA"]=(startup_data.state_code=="VA").map({True:1, False:0})
startup_data["is_GA"]=(startup_data.state_code=="GA").map({True:1, False:0})

In [ ]:
df=startup_data[["is_CA","is_NY","is_MA","is_TX","is_WA","is_CO","is_IL","is_PA","is_VA","is_GA"]]
startup_data["is_otherstate"]=df.any(axis=1).map({True:0, False:1})

In [ ]:
# new features based on cities
cols=["is_city_SF","is_city_NY","is_city_MV","is_city_PA","is_city_AU","is_city_SC","is_city_SM","is_city_SE","is_city_SU","is_city_SJ","is_city_CA","is_city_MP","is_city_SD","is_city_LA","is_city_RC","is_city_CH","is_city_BO"]
cities=["San Francisco","New York","Mountain View","Palo Alto","Austin","Santa Clara","San Mateo","Seattle","Sunnyvale","San Jose","Cambridge","Menlo Park","San Diego","Los Angeles","Redwood City","Chicago","Boston"]
for i in range(len(cols)):
    startup_data[cols[i]]=(startup_data.city==cities[i]).map({True:1, False:0})

In [ ]:
df=startup_data[cols]
startup_data["is_othercity"]=df.any(axis=1).map({True:0, False:1})

In [ ]:
startup_data.drop(["state_code","city"],axis=1,inplace=True)
startup_data.head()

,latitude,longitude,founded_at,closed_at,first_funding_at,last_funding_at,age_first_funding_year,age_last_funding_year,age_first_milestone_year,age_last_milestone_year,...,is_city_SU,is_city_SJ,is_city_CA,is_city_MP,is_city_SD,is_city_LA,is_city_RC,is_city_CH,is_city_BO,is_othercity
0,42.358880,-71.056820,01-01-07,NaN,04-01-09,01-01-10,2.2493,3.0027,4.6685,6.7041,...,0,0,0,0,1,0,0,0,0,0
1,37.238916,-121.973718,01-01-00,NaN,2/14/2005,12/28/2009,5.1260,9.9973,7.0055,7.0055,...,0,0,0,0,0,0,0,0,0,1
2,32.901049,-117.192656,3/18/2009,NaN,3/30/2010,3/30/2010,1.0329,1.0329,1.4575,2.2055,...,0,0,0,0,1,0,0,0,0,0
3,37.320309,-122.050040,01-01-02,NaN,2/17/2005,4/25/2007,3.1315,5.3151,6.0027,6.0027,...,0,0,0,0,0,0,0,0,0,1
4,37.779281,-122.419236,08-01-10,10-01-12,08-01-10,04-01-12,0.0000,1.6685,0.0384,0.0384,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
startup_data.columns

Index(['latitude', 'longitude', 'founded_at', 'closed_at', 'first_funding_at',
       'last_funding_at', 'age_first_funding_year', 'age_last_funding_year',
       'age_first_milestone_year', 'age_last_milestone_year', 'relationships',
       'funding_rounds', 'funding_total_usd', 'milestones', 'state_code.1',
       'is_CA', 'is_NY', 'is_MA', 'is_TX', 'is_otherstate', 'category_code',
       'is_software', 'is_web', 'is_mobile', 'is_enterprise', 'is_advertising',
       'is_gamesvideo', 'is_ecommerce', 'is_biotech', 'is_consulting',
       'is_othercategory', 'has_VC', 'has_angel', 'has_roundA', 'has_roundB',
       'has_roundC', 'has_roundD', 'avg_participants', 'is_top500', 'status',
       'is_WA', 'is_CO', 'is_IL', 'is_PA', 'is_VA', 'is_GA', 'is_city_SF',
       'is_city_NY', 'is_city_MV', 'is_city_PA', 'is_city_AU', 'is_city_SC',
       'is_city_SM', 'is_city_SE', 'is_city_SU', 'is_city_SJ', 'is_city_CA',
       'is_city_MP', 'is_city_SD', 'is_city_LA', 'is_city_RC', 'is_city_CH',
       'is_city_BO', 'is_othercity'],
      dtype='object')

In [ ]:
startup_data.isna().sum()

latitude                      0
longitude                     0
founded_at                    0
closed_at                   587
first_funding_at              0
last_funding_at               0
age_first_funding_year        0
age_last_funding_year         0
age_first_milestone_year    152
age_last_milestone_year     152
relationships                 0
funding_rounds                0
funding_total_usd             0
milestones                    0
state_code.1                  1
is_CA                         0
is_NY                         0
is_MA                         0
is_TX                         0
is_otherstate                 0
category_code                 0
is_software                   0
is_web                        0
is_mobile                     0
is_enterprise                 0
is_advertising                0
is_gamesvideo                 0
is_ecommerce                  0
is_biotech                    0
is_consulting                 0
                           ...
has_roundB                    0
has_roundC                    0
has_roundD                    0
avg_participants              0
is_top500                     0
status                        0
is_WA                         0
is_CO                         0
is_IL                         0
is_PA                         0
is_VA                         0
is_GA                         0
is_city_SF                    0
is_city_NY                    0
is_city_MV                    0
is_city_PA                    0
is_city_AU                    0
is_city_SC                    0
is_city_SM                    0
is_city_SE                    0
is_city_SU                    0
is_city_SJ                    0
is_city_CA                    0
is_city_MP                    0
is_city_SD                    0
is_city_LA                    0
is_city_RC                    0
is_city_CH                    0
is_city_BO                    0
is_othercity                  0
Length: 64, dtype: int64

In [ ]:
# closed_at has more than 63% missing data, hence dropping this column
# startup_data.drop(["closed_at"],axis=1,inplace=True)
startup_data["founded_at"]=pd.to_datetime(startup_data.founded_at)

# dropping first_funding_at and last_funding_at since we already have another column providing details of age of first and last fundings
startup_data.drop(["first_funding_at","last_funding_at"],axis=1,inplace=True)

In [ ]:
from datetime import datetime
today=datetime.today()
(today-startup_data["founded_at"][0]).days

4998

In [ ]:
startup_data["founded_at"]=pd.to_datetime(startup_data.founded_at)
startup_data["founded_at"].head()

0   2007-01-01
1   2000-01-01
2   2009-03-18
3   2002-01-01
4   2010-08-01
Name: founded_at, dtype: datetime64[ns]

In [ ]:
startup_data["closed_at"]=pd.to_datetime(startup_data.closed_at)
startup_data["closed_at"][np.isnat(startup_data.closed_at)]=today

C:\Users\sudip\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [ ]:
startup_data["years_active"]=round(((startup_data.closed_at-startup_data.founded_at).dt.days)/365)
startup_data["years_active"]

0      14.0
1      21.0
2      11.0
3      19.0
4       2.0
5       7.0
6      16.0
7      17.0
8      19.0
9      15.0
10     20.0
11      6.0
12      8.0
13     13.0
14     20.0
15     11.0
16     10.0
17     20.0
18     11.0
19      5.0
20     20.0
21      8.0
22      7.0
23      6.0
24      3.0
25     19.0
26     18.0
27     12.0
28     13.0
29     15.0
       ...
893    15.0
894    10.0
895    16.0
896    12.0
897    16.0
898    16.0
899     3.0
900    15.0
901     5.0
902    21.0
903    19.0
904     6.0
905     5.0
906    21.0
907    17.0
908    15.0
909    16.0
910    11.0
911     9.0
912    15.0
913     4.0
914    14.0
915     8.0
916    14.0
917    21.0
918    12.0
919    10.0
920    13.0
921    12.0
922    18.0
Name: years_active, Length: 922, dtype: float64

In [ ]:
startup_data.drop(["state_code.1"], axis=1, inplace=True)
startup_data.isna().sum()

latitude                      0
longitude                     0
founded_at                    0
closed_at                     0
age_first_funding_year        0
age_last_funding_year         0
age_first_milestone_year    152
age_last_milestone_year     152
relationships                 0
funding_rounds                0
funding_total_usd             0
milestones                    0
is_CA                         0
is_NY                         0
is_MA                         0
is_TX                         0
is_otherstate                 0
category_code                 0
is_software                   0
is_web                        0
is_mobile                     0
is_enterprise                 0
is_advertising                0
is_gamesvideo                 0
is_ecommerce                  0
is_biotech                    0
is_consulting                 0
is_othercategory              0
has_VC                        0
has_angel                     0
                           ...
has_roundC                    0
has_roundD                    0
avg_participants              0
is_top500                     0
status                        0
is_WA                         0
is_CO                         0
is_IL                         0
is_PA                         0
is_VA                         0
is_GA                         0
is_city_SF                    0
is_city_NY                    0
is_city_MV                    0
is_city_PA                    0
is_city_AU                    0
is_city_SC                    0
is_city_SM                    0
is_city_SE                    0
is_city_SU                    0
is_city_SJ                    0
is_city_CA                    0
is_city_MP                    0
is_city_SD                    0
is_city_LA                    0
is_city_RC                    0
is_city_CH                    0
is_city_BO                    0
is_othercity                  0
years_active                  0
Length: 62, dtype: int64

In [ ]:
startup_data["founded_year"]=startup_data["founded_at"].dt.year
startup_data.drop(["founded_at","closed_at"], axis=1, inplace=True)

In [ ]:
startup_data.head(2)

,latitude,longitude,age_first_funding_year,age_last_funding_year,age_first_milestone_year,age_last_milestone_year,relationships,funding_rounds,funding_total_usd,milestones,...,is_city_CA,is_city_MP,is_city_SD,is_city_LA,is_city_RC,is_city_CH,is_city_BO,is_othercity,years_active,founded_year
0,42.358880,-71.056820,2.2493,3.0027,4.6685,6.7041,3,3,375000,3,...,0,0,1,0,0,0,0,0,14.0,2007
1,37.238916,-121.973718,5.1260,9.9973,7.0055,7.0055,9,4,40100000,1,...,0,0,0,0,0,0,0,1,21.0,2000

In [ ]:
startup_data["age_first_milestone_year"][startup_data.age_first_milestone_year.isna()]=0
startup_data["age_last_milestone_year"][startup_data.age_last_milestone_year.isna()]=0

C:\Users\sudip\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\sudip\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [ ]:
startup_data["age_first_milestone_year"]

0       4.6685
1       7.0055
2       1.4575
3       6.0027
4       0.0384
5       5.0027
6       3.0000
7       5.6055
8       8.0055
9       2.9178
10     10.1342
11     -0.6164
12      0.0000
13      0.7945
14      8.8384
15      0.0000
16      5.5014
17     -0.4986
18      1.2849
19      3.0877
20      4.0877
21      3.7507
22      0.0000
23      3.6959
24      0.0000
25      1.0000
26      3.0027
27      3.4192
28      4.9315
29      2.1890
        ...
893     5.7507
894     0.3288
895     2.0000
896     1.1808
897     5.0027
898     3.6466
899     0.0000
900     3.1507
901     3.1342
902     0.3370
903     0.0000
904     0.0000
905    -7.0055
906     0.0000
907     6.9589
908     6.5342
909     3.4822
910     1.6110
911     6.5863
912     0.0000
913     7.1233
914     3.0027
915     3.1616
916     2.9151
917     8.5041
918     0.5808
919     6.0027
920     9.0055
921     0.7589
922     4.0027
Name: age_first_milestone_year, Length: 922, dtype: float64

In [ ]:
startup_data["age_first_funding_year"][startup_data.age_first_funding_year<0]=0
startup_data["age_last_funding_year"][startup_data.age_last_funding_year<0]=0
startup_data["age_first_milestone_year"][startup_data.age_first_milestone_year<0]=0
startup_data["age_last_milestone_year"][startup_data.age_last_milestone_year<0]=0
startup_data["years_active"][startup_data.years_active<0]=0

C:\Users\sudip\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\sudip\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\sudip\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\sudip\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\sudip\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [ ]:
startup_data.columns

Index(['latitude', 'longitude', 'age_first_funding_year',
       'age_last_funding_year', 'age_first_milestone_year',
       'age_last_milestone_year', 'relationships', 'funding_rounds',
       'funding_total_usd', 'milestones', 'is_CA', 'is_NY', 'is_MA', 'is_TX',
       'is_otherstate', 'category_code', 'is_software', 'is_web', 'is_mobile',
       'is_enterprise', 'is_advertising', 'is_gamesvideo', 'is_ecommerce',
       'is_biotech', 'is_consulting', 'is_othercategory', 'has_VC',
       'has_angel', 'has_roundA', 'has_roundB', 'has_roundC', 'has_roundD',
       'avg_participants', 'is_top500', 'status', 'is_WA', 'is_CO', 'is_IL',
       'is_PA', 'is_VA', 'is_GA', 'is_city_SF', 'is_city_NY', 'is_city_MV',
       'is_city_PA', 'is_city_AU', 'is_city_SC', 'is_city_SM', 'is_city_SE',
       'is_city_SU', 'is_city_SJ', 'is_city_CA', 'is_city_MP', 'is_city_SD',
       'is_city_LA', 'is_city_RC', 'is_city_CH', 'is_city_BO', 'is_othercity',
       'years_active', 'founded_year'],
      dtype='object')

In [ ]:
# new features based on category
cols=["is_semiconductor","is_network_hosting","is_hardware","is_public_relations","is_cleantech","is_security","is_analytics","is_social","is_search","is_messaging"]
categories=["semiconductor","network_hosting","hardware","public_relations","cleantech","security","analytics","social","search","messaging"]
for i in range(len(cols)):
    startup_data[cols[i]]=(startup_data.category_code==categories[i]).map({True:1, False:0})

In [ ]:
cols=['is_software', 'is_web', 'is_mobile','is_enterprise', 'is_advertising', 'is_gamesvideo', 'is_ecommerce','is_biotech', 'is_consulting',"is_semiconductor","is_network_hosting","is_hardware","is_public_relations","is_cleantech","is_security","is_analytics","is_social","is_search","is_messaging"]
df=startup_data[cols]
startup_data["is_othercategory"]=df.any(axis=1).map({True:0, False:1})

In [ ]:
startup_data.head()

,latitude,longitude,age_first_funding_year,age_last_funding_year,age_first_milestone_year,age_last_milestone_year,relationships,funding_rounds,funding_total_usd,milestones,...,is_semiconductor,is_network_hosting,is_hardware,is_public_relations,is_cleantech,is_security,is_analytics,is_social,is_search,is_messaging
0,42.358880,-71.056820,2.2493,3.0027,4.6685,6.7041,3,3,375000,3,...,0,0,0,0,0,0,0,0,0,0
1,37.238916,-121.973718,5.1260,9.9973,7.0055,7.0055,9,4,40100000,1,...,0,0,0,0,0,0,0,0,0,0
2,32.901049,-117.192656,1.0329,1.0329,1.4575,2.2055,5,1,2600000,2,...,0,0,0,0,0,0,0,0,0,0
3,37.320309,-122.050040,3.1315,5.3151,6.0027,6.0027,5,3,40000000,1,...,0,0,0,0,0,0,0,0,0,0
4,37.779281,-122.419236,0.0000,1.6685,0.0384,0.0384,2,2,1300000,1,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
startup_data.drop(["category_code"], axis=1, inplace=True)

In [ ]:
startup_data["status"]=startup_data.status.map({"acquired":1, "closed":0})
startup_data.status.head()

0    1
1    1
2    1
3    1
4    0
Name: status, dtype: int64

In [ ]:
# training starts
X=startup_data.drop("status", axis=1)
y=startup_data["status"]

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=56,stratify=y)
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((645, 69), (645,), (277, 69), (277,))

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score, confusion_matrix

In [ ]:
dt=DecisionTreeClassifier(max_depth=7)
dt.fit(X_train,y_train)
cv=cross_val_score(dt,X_train,y_train,cv=5)
cv

array([0.99230769, 0.97692308, 0.98449612, 0.96875   , 0.9375    ])

In [ ]:
y_pred=dt.predict(X_test)
sc=accuracy_score(y_test,y_pred)
print(sc)
confusion_matrix(y_test,y_pred)

0.9602888086642599

array([[ 90,   8],
       [  3, 176]], dtype=int64)

In [ ]:
# Prediction phase

In [ ]:
test_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/startupdata/testing_set_label.csv')
test_data.head()

,Unnamed: 0,state_code,latitude,longitude,zip_code,id,city,Unnamed: 6,name,founded_at,...,is_othercategory,object_id,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500
0,127,CT,41.321520,-72.929423,6511,c:14666,New Haven,NaN,REMOTV,02-10-07,...,0,c:14666,0,1,1,1,0,0,1.3333,1
1,556,CA,37.452084,-122.112879,94303,c:31546,Palo Alto,NaN,Satiety,01-01-00,...,1,c:31546,0,0,0,0,0,1,6.0000,1
2,812,NJ,40.296222,-74.050972,7724,c:46259,Eatontown,Eatontown NJ 7724,CebaTech,01-01-04,...,0,c:46259,0,0,0,1,1,0,2.0000,0
3,106,CA,37.789268,-122.395184,94105,c:139,San Francisco,NaN,Swivel,12-01-05,...,1,c:139,0,0,1,0,0,0,1.0000,0
4,434,CA,33.133240,-117.275027,92011,c:25449,Carlsbad,NaN,PhotoThera,05-01-97,...,0,c:25449,0,0,0,0,1,1,5.5000,1

In [ ]:
#test_data=test_data.drop([164])

In [ ]:
test_data.drop("name", axis=1, inplace=True)

In [ ]:
test_data.drop(["id", "Unnamed: 0", "Unnamed: 6", "zip_code", "object_id"], axis=1, inplace=True)

In [ ]:
test_data["is_WA"]=(test_data.state_code=="WA").map({True:1, False:0})
test_data["is_CO"]=(test_data.state_code=="CO").map({True:1, False:0})
test_data["is_IL"]=(test_data.state_code=="IL").map({True:1, False:0})
test_data["is_PA"]=(test_data.state_code=="PA").map({True:1, False:0})
test_data["is_VA"]=(test_data.state_code=="VA").map({True:1, False:0})
test_data["is_GA"]=(test_data.state_code=="GA").map({True:1, False:0})

In [ ]:
df=test_data[["is_CA","is_NY","is_MA","is_TX","is_WA","is_CO","is_IL","is_PA","is_VA","is_GA"]]
test_data["is_otherstate"]=df.any(axis=1).map({True:0, False:1})

In [ ]:
# new features based on cities
cols=["is_city_SF","is_city_NY","is_city_MV","is_city_PA","is_city_AU","is_city_SC","is_city_SM","is_city_SE","is_city_SU","is_city_SJ","is_city_CA","is_city_MP","is_city_SD","is_city_LA","is_city_RC","is_city_CH","is_city_BO"]
cities=["San Francisco","New York","Mountain View","Palo Alto","Austin","Santa Clara","San Mateo","Seattle","Sunnyvale","San Jose","Cambridge","Menlo Park","San Diego","Los Angeles","Redwood City","Chicago","Boston"]
for i in range(len(cols)):
    test_data[cols[i]]=(test_data.city==cities[i]).map({True:1, False:0})

In [ ]:
df=test_data[cols]
test_data["is_othercity"]=df.any(axis=1).map({True:0, False:1})

In [ ]:
test_data.drop(["state_code","city"],axis=1,inplace=True)
test_data.head()

,latitude,longitude,founded_at,closed_at,first_funding_at,last_funding_at,age_first_funding_year,age_last_funding_year,age_first_milestone_year,age_last_milestone_year,...,is_city_SU,is_city_SJ,is_city_CA,is_city_MP,is_city_SD,is_city_LA,is_city_RC,is_city_CH,is_city_BO,is_othercity
0,41.321520,-72.929423,02-10-07,09-03-11,05-01-07,10/15/2008,0.2192,1.6795,NaN,NaN,...,0,0,0,0,0,0,0,0,0,1
1,37.452084,-122.112879,01-01-00,09-10-11,7/19/2007,9/30/2009,7.5507,9.7534,11.0192,11.0192,...,0,0,0,0,0,0,0,0,0,0
2,40.296222,-74.050972,01-01-04,06-05-12,4/26/2005,7/21/2006,1.3178,2.5534,4.0027,4.0027,...,0,0,0,0,0,0,0,0,0,1
3,37.789268,-122.395184,12-01-05,07-01-10,09-01-06,04-01-07,0.7507,1.3315,1.0849,6.4986,...,0,0,0,0,0,0,0,0,0,0
4,33.133240,-117.275027,05-01-97,10/24/2012,4/21/2006,5/22/2009,8.9781,12.0658,NaN,NaN,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
test_data["founded_at"]=pd.to_datetime(test_data.founded_at)

# dropping first_funding_at and last_funding_at since we already have another column providing details of age of first and last fundings
test_data.drop(["first_funding_at","last_funding_at"],axis=1,inplace=True)

In [ ]:
test_data["founded_at"]=pd.to_datetime(test_data.founded_at)
test_data["founded_at"].head()

0   2007-02-10
1   2000-01-01
2   2004-01-01
3   2005-12-01
4   1997-05-01
Name: founded_at, dtype: datetime64[ns]

In [ ]:
test_data["closed_at"]=pd.to_datetime(test_data.closed_at)
test_data["closed_at"][np.isnat(test_data.closed_at)]=today

C:\Users\sudip\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [ ]:
test_data["years_active"]=round(((test_data.closed_at-test_data.founded_at).dt.days)/365)
test_data["years_active"]

0       5.0
1      12.0
2       8.0
3       5.0
4      15.0
5       9.0
6      15.0
7      10.0
8      12.0
9      14.0
10     13.0
11     17.0
12     11.0
13      3.0
14     10.0
15     19.0
16     17.0
17     10.0
18     14.0
19      3.0
20     16.0
21     14.0
22      7.0
23     11.0
24      6.0
25     14.0
26     16.0
27     14.0
28      4.0
29      7.0
       ...
201    13.0
202    15.0
203    17.0
204     9.0
205     3.0
206    18.0
207    13.0
208    18.0
209    11.0
210     3.0
211     0.0
212    11.0
213     6.0
214    13.0
215     5.0
216     9.0
217     0.0
218    12.0
219    11.0
220    17.0
221    18.0
222    17.0
223     3.0
224    11.0
225    14.0
226    10.0
227     6.0
228    21.0
229    12.0
230    15.0
Name: years_active, Length: 231, dtype: float64

In [ ]:
test_data.drop(["state_code.1"], axis=1, inplace=True)

In [ ]:
test_data["founded_year"]=test_data["founded_at"].dt.year
test_data.drop(["founded_at","closed_at"], axis=1, inplace=True)

In [ ]:
test_data["age_first_milestone_year"][test_data.age_first_milestone_year.isna()]=0
test_data["age_last_milestone_year"][test_data.age_last_milestone_year.isna()]=0

C:\Users\sudip\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\sudip\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [ ]:
test_data["age_first_funding_year"][test_data.age_first_funding_year<0]=0
test_data["age_last_funding_year"][test_data.age_last_funding_year<0]=0
test_data["age_first_milestone_year"][test_data.age_first_milestone_year<0]=0
test_data["age_last_milestone_year"][test_data.age_last_milestone_year<0]=0
test_data["years_active"][test_data.years_active<0]=0

C:\Users\sudip\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\sudip\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\sudip\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\sudip\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\sudip\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [ ]:
# new features based on category
cols=["is_semiconductor","is_network_hosting","is_hardware","is_public_relations","is_cleantech","is_security","is_analytics","is_social","is_search","is_messaging"]
categories=["semiconductor","network_hosting","hardware","public_relations","cleantech","security","analytics","social","search","messaging"]
for i in range(len(cols)):
    test_data[cols[i]]=(test_data.category_code==categories[i]).map({True:1, False:0})

In [ ]:
cols=['is_software', 'is_web', 'is_mobile','is_enterprise', 'is_advertising', 'is_gamesvideo', 'is_ecommerce','is_biotech', 'is_consulting',"is_semiconductor","is_network_hosting","is_hardware","is_public_relations","is_cleantech","is_security","is_analytics","is_social","is_search","is_messaging"]
df=test_data[cols]
test_data["is_othercategory"]=df.any(axis=1).map({True:0, False:1})

In [ ]:
test_data.drop(["category_code"], axis=1, inplace=True)

In [ ]:
test_data.head()

,latitude,longitude,age_first_funding_year,age_last_funding_year,age_first_milestone_year,age_last_milestone_year,relationships,funding_rounds,funding_total_usd,milestones,...,is_semiconductor,is_network_hosting,is_hardware,is_public_relations,is_cleantech,is_security,is_analytics,is_social,is_search,is_messaging
0,41.321520,-72.929423,0.2192,1.6795,0.0000,0.0000,5,3,2700000,0,...,0,0,0,0,0,0,0,0,0,0
1,37.452084,-122.112879,7.5507,9.7534,11.0192,11.0192,1,3,62800000,1,...,0,0,0,0,0,0,0,0,0,0
2,40.296222,-74.050972,1.3178,2.5534,4.0027,4.0027,4,2,8500000,1,...,0,0,0,0,0,0,0,0,0,0
3,37.789268,-122.395184,0.7507,1.3315,1.0849,6.4986,8,2,2000000,4,...,0,0,0,0,0,0,0,0,1,0
4,33.133240,-117.275027,8.9781,12.0658,0.0000,0.0000,4,2,80500000,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
predictions=dt.predict(test_data)
predictions

array([0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0,
       1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1], dtype=int64)

In [ ]:
l=[]
for i in range(len(predictions)):
    if predictions[i]==0:
        l.append("closed")
    else:
        l.append("acquired")

In [ ]:
print(l)

['closed', 'acquired', 'closed', 'closed', 'closed', 'acquired', 'acquired', 'acquired', 'acquired', 'closed', 'acquired', 'closed', 'closed', 'closed', 'acquired', 'acquired', 'acquired', 'acquired', 'closed', 'closed', 'acquired', 'acquired', 'closed', 'acquired', 'closed', 'acquired', 'acquired', 'acquired', 'closed', 'closed', 'closed', 'acquired', 'acquired', 'acquired', 'acquired', 'acquired', 'acquired', 'closed', 'acquired', 'closed', 'acquired', 'acquired', 'acquired', 'acquired', 'closed', 'acquired', 'closed', 'closed', 'acquired', 'acquired', 'closed', 'acquired', 'acquired', 'closed', 'closed', 'acquired', 'closed', 'acquired', 'acquired', 'acquired', 'acquired', 'acquired', 'acquired', 'acquired', 'acquired', 'acquired', 'acquired', 'acquired', 'acquired', 'acquired', 'closed', 'closed', 'acquired', 'acquired', 'acquired', 'closed', 'closed', 'acquired', 'closed', 'acquired', 'acquired', 'acquired', 'closed', 'closed', 'acquired', 'acquired', 'acquired', 'closed', 'acquired', 'acquired', 'acquired', 'acquired', 'acquired', 'closed', 'acquired', 'closed', 'closed', 'closed', 'closed', 'acquired', 'acquired', 'closed', 'acquired', 'acquired', 'acquired', 'acquired', 'acquired', 'acquired', 'closed', 'acquired', 'acquired', 'acquired', 'acquired', 'acquired', 'acquired', 'acquired', 'acquired', 'acquired', 'closed', 'closed', 'closed', 'closed', 'acquired', 'closed', 'closed', 'closed', 'acquired', 'closed', 'closed', 'closed', 'acquired', 'acquired', 'acquired', 'acquired', 'acquired', 'acquired', 'closed', 'acquired', 'closed', 'acquired', 'acquired', 'acquired', 'acquired', 'closed', 'acquired', 'acquired', 'acquired', 'acquired', 'acquired', 'acquired', 'closed', 'acquired', 'acquired', 'acquired', 'acquired', 'acquired', 'acquired', 'acquired', 'acquired', 'closed', 'acquired', 'closed', 'acquired', 'acquired', 'acquired', 'acquired', 'acquired', 'closed', 'closed', 'acquired', 'closed', 'acquired', 'acquired', 'acquired', 'closed', 'closed', 'acquired', 'acquired', 'acquired', 'acquired', 'acquired', 'acquired', 'closed', 'acquired', 'closed', 'acquired', 'acquired', 'closed', 'acquired', 'acquired', 'closed', 'closed', 'acquired', 'acquired', 'acquired', 'acquired', 'closed', 'closed', 'acquired', 'acquired', 'closed', 'acquired', 'acquired', 'acquired', 'closed', 'closed', 'acquired', 'acquired', 'acquired', 'closed', 'closed', 'closed', 'acquired', 'closed', 'acquired', 'closed', 'closed', 'closed', 'acquired', 'closed', 'acquired', 'acquired', 'acquired', 'closed', 'acquired', 'acquired', 'acquired', 'closed', 'acquired', 'acquired', 'acquired']